<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtree.lottery">

    <application>
        <activity
            android:name="com.xtree.lottery.ui.activity.LotteryActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" /> <!-- 在自己组件中注册Activity -->
        <activity
            android:name="com.xtree.lottery.ui.activity.LotterySelectActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>
</manifest>
