<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtree.live">
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:name="com.xtree.live.ui.main.bet.LiveMatchDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.xtree.live.ui.main.floatingwindow.FloatingWindowActivity"
            android:launchMode="singleTask" />

        <activity android:name=".ui.main.activity.LiveDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"/>

        <service android:name="com.xtree.live.ui.main.service.LiveWebSocketService"
            android:process=":push" />

    </application>

</manifest>